@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #1f242d;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: steelblue;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    z-index: 100;
}   

.navbar ul {
    display: flex;
    padding-top: 20px;
}

.navbar ul li {
    margin-left: 35px;
    font-size: 20px;
    font-weight: 600;
    list-style: none;
}

.navbar ul li a {
    width: 110px;
}

.content {
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}
.btn:hover {
    background-color: aliceblue;
}

.points {
    
    padding: 25px 9%;
}
