@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #555;
    cursor: default;
}

.navigation a {
    font-size: 1.1em;
    color: #555;
    text-decoration: none;
    margin-left: 40px;
    font-weight: 500;
    transition: .3s;
}

.navigation a:hover {
    color: #7d2ae8;
}

.btn-talk {
    color: #fff;
    text-decoration: none;
    padding: 8px 35px;
    background: #7d2ae8;
    border-radius: 10px;
    border: 2px solid #7d2ae8;
    font-weight: 500;
    transition: .3s;
}

.btn-talk:hover {
    color: #7d2ae9;
    background: transparent;
}
