.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #fff;
    min-height: 100dvh;
    visibility: hidden;
    opacity: 0;
    animation: show-about 0.8s ease forwards;
    animation-delay: 0.2s;
}

@keyframes show-about {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.about ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.about ul li {
  max-width: 800px;
  list-style: none;
}

@media (max-width: 832px) {
  .about {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: auto;
  }

  .about h1 {
    font-size: 32px;
  }

  .about ul {
    font-size: 16px;
  }

  .about ul li {
    width: 60vw;
    height: 60vw;
  }
}
