.about {
    padding-top: 60px;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, #101726, #202228);
    visibility: hidden;
    opacity: 0;
    animation: show-content 0.2s linear forwards;
    animation-delay: 0.2s;
}

@keyframes show-about {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.about ul {
  display: flex;
  margin-top: 20px;
}

/* .about {
    background-color: #1f242d;
    color: white;
    text-decoration: none;
}

.about ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin-top: 10px;
}

.content {
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
} */