.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    color: #fff;
    background: linear-gradient(to top, #101726, #202228);
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    animation: show-content 0.2s linear forwards;
    animation-delay: 0.2s;
}

@keyframes show-about {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.skills ul li {
    text-decoration: none;
    list-style: none;
}