.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 40px;
    color: #fff;
    min-height: 100dvh;
    visibility: hidden;
    opacity: 0;
    animation: show-portfolio 0.8s ease forwards;
    animation-delay: 0.2s;
}

@keyframes show-portfolio {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.portfolio h1 {
    text-align: left;         
    width: 100%;
    max-width: 600px;
    margin: 20px 0 10px 0;
    font-size: 1.4rem;
    font-weight: 600;
}

.portfolio ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    width: 100%;
    max-width: 600px;
}