* {
    margin: 0;
    padding: 0;
    color: #d8d8d8;
}

.btn {
    color: #d8d8d8;
    font-weight: 600;
    font-size: 20px;
    margin: 8px;
    padding: 8px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background: linear-gradient(to right, #052acc, #445fd8);
}

.body ul li {
    padding-bottom: 8px;
}

.btn:hover {
    color: rgb(186, 138, 235);
}